@font-face {
  font-family: 'montserrat-mogo';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'montserrat-mogo';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: 'kaushan-script-mogo';
  src: url("../fonts/Kaushan_Script/KaushanScript-Regular.ttf") format("truetype"); }

body {
  font-family: montserrat-mogo, sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
  margin: 0; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

/* intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../img/intro.jpg") center no-repeat;
  background-size: cover; }

.intro-title {
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 1; }
  .intro-title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto; }

.intro-inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center; }

.intro-suptitle {
  font-size: 72px;
  color: #fff;
  font-family: kaushan-script-mogo, sans-serif;
  margin-bottom: 20px; }

/* header*/
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 30px; }

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff; }

/* Nav */
.nav {
  text-transform: uppercase;
  font-size: 14px; }

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color .2s linear;
  vertical-align: top;
  margin: 0 10px;
  position: relative; }
  .nav-link:hover {
    color: #fce38a; }
    .nav-link:hover:after {
      opacity: 1; }
  .nav-link:after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear; }

.nav-link.active:after, .nav-link:hover:after {
  opacity: 1; }

.nav-link.active {
  color: #fce38a; }

.btn {
  display: inline-block;
  vertical-align: top;
  border: 3px solid #fff;
  padding: 8px 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.2s linear, color .2s linear; }
  .btn:hover {
    background-color: #fff;
    color: #333; }

/* Slider */
.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1; }

.slider-inner {
  display: flex;
  justify-content: space-between; }

.slider-item {
  width: 23%;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 0;
  border-top: 3px solid #fff;
  opacity: .7;
  position: relative; }

.slider-item.active {
  opacity: 1; }
  .slider-item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181; }

.slider-item-num {
  font-size: 24px;
  font-weight: 700; }
